<div class='posts-wrapper row'>
  <div class='post'></div>
  <div class='post-head'></div>
  <div class='name'></div>
  Ben Walker
  <div class='image center-block'></div>
  <p class='caption'></p>
</div>